* {
    box-sizing: border-box;
  }
  body {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#555;
    background: #ecf0f3;
  }
  .message-div {
    width:430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
    
  }

  /* form{
      position: relative;
      top: 400px;
  }

   */
 
#showMessages{
    height: 400px;
}

  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:15px 30px 15px 5px;
  }
  .message, .password {
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }

  .sendMessage-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .sendMessage-button:hover {
    background:#2fdbb6;
  }
  .signin-button:active {
    background:#1da88a;
  }